<header class="st-header">
  <img class="st-header__header" src="../../../assets/LogoSide.png" />
</header>

<section  class="st-graph">
  <canvas #doughnutCanvas></canvas>
</section>

<section class="st-add">
  <form class="st-add__form" [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-input class="st-add__input" type="text" formControlName="title" placeholder="What's stressing you out?" required></ion-input>
    <button class="st-button" type="submit" [disabled]="!new_item_form.valid"><div class="st-buttonBg st-buttonBg--add"></div></button>
  </form>
</section>

<ion-content class="st-tasks">
  <ion-list class="st-tasks__list">
    <ion-item class="st-tasks__task" *ngFor="let item of items">
      <div class="st-tasks__taskcolour {{item.colourClass}}"></div>
      <ion-label class="st-tasks__tasktext">{{ item.title }} {{item.percentage}} </ion-label>
      <button class="st-button" (click)="moreStress(item)"><div class="st-buttonBg st-buttonBg--stress {{item.colourClass}}"></div></button>
      <button class="st-button" (click)="lessStress(item)"><div class="st-buttonBg st-buttonBg--fine {{item.colourClass}}"></div></button>
    </ion-item>
  </ion-list>
</ion-content>